# Dependencies
node_modules/
package-lock.json

# Build
/dist/
/build/

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Environment variables
.env*
!.env.example

# Coverage directory used by tools like istanbul
coverage/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache