.deviceCard {
  background: white;
  height: 120px;
  transition: transform 0.2s ease;
  position: relative;

  &:hover {
    transform: translateY(-4px);
  }
}

.content {
  display: flex;
  height: 100%;
}

.status {
  width: 4px;
  border-radius: 2px 0 0 2px;
  margin-right: 4px;;
  
  &.active {
    background-color: #10b981;
  }

  &.inactive {
    background-color: #94a3b8;
  }
}

.deviceInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-left: 16px;
}

.header {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.iconWrapper {
  width: 48px; // Slightly larger
  height: 120px; // Full height
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8fafc; // Light background

  &.temperature {
    color: #ef4444;
    background-color: #fee2e2;
  }

  &.humidity {
    color: #3b82f6;
    background-color: #e0f2fe;
  }

  &.motion {
    color: #8b5cf6;
    background-color: #ede9fe;
  }

  .icon {
    width: 28px; // Slightly larger icon
    height: 28px;
  }
}

.name {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #1e293b;
}

.idText {
  font-size: 0.75rem;
  color: #94a3b8;
}

.value {
  position: absolute;
  bottom: 16px;
  right: 16px;
  font-size: 1rem;
  color: #64748b;

  .label {
    font-weight: 400;
  }

  .number {
    font-weight: 500;
    margin-left: 4px;
  }
}